<p>update-movie-booking works!</p>


<div class="container">
    <form [formGroup]="updateForm">
     <div class="form-group">
         <label for="id">Movie id</label>
         <input type="text">
     </div>
         <div class="form-group">
             <label for="name">name</label>
             <input type="text">
         </div>
 
         <div class="form-control">
             <label for="date">date</label>
             <input type="date">
         </div>
 
         <div class="form-control">
             <label for="no">No of tickets</label>
             <input type="number">
         </div>
 
         <div class="form-control">
             <label for="amt">Total amount</label>
             <input type="number">
         </div>
 
 
         <button (click)="updateMovie()" [disabled]="updateForm.invalid" class="btn mt-4 btn-outline-success btn-sm">update</button>
         <button class="btn btn-outline-danger btn-sm mt-4 ml-2" (click)="back()">GO back!</button>
    </form>
 </div>