
<div class="container">
   <form [formGroup]="addForm">
    <div class="form-group">
        <label for="id">Movie id</label>
        <input type="text">
    </div>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text">
        </div>

        <div class="form-control">
            <label for="date">date</label>
            <input type="date">
        </div>

        <div class="form-control">
            <label for="no">No of tickets</label>
            <input type="number">
        </div>

        <div class="form-control">
            <label for="amt">Total amount</label>
            <input type="number">
        </div>


        <button (click)="addMovie('success','successfully added')" [disabled]="addForm.invalid" class="btn mt-4 btn-outline-success btn-sm">save</button>
        <button class="btn btn-outline-danger btn-sm mt-4 ml-2" data-dismiss="modal">close</button>
   </form>
</div>